.Catalog {
    .title {
        font-size: 2rem;
        padding-left: 400px;
        padding-top: 50px;
    }
    .catalog-con {
        padding-bottom: 50px;
    }
    .available {
        color: orange;
        font-size: small;
    }
}